.form {
  border: 2px solid grey;
  /* width: 50%;
  height: 70%; */
  /* left: 30%;
  top: 20%; */
  padding: 50px;
  min-width: 900px;
}

.form div,
.form button {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectedAccount {
  border: 1px solid black;
  text-align: center;
}
